.bg-image {
    background-image: linear-gradient(
            rgba(50, 50, 50, 0.55),
            rgba(50, 50, 50, 0.55)
        ),
        url("/assets/images/bg-image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
